@model List<SmallDad.Models.Rank>

@{
    ViewData["Title"] = "Ranks";

    @foreach (var rank in @Model)
    {
        <p><a asp-controller="Rank" asp-action="GetRank" asp-route-id="@rank.Id">@rank.Title</a></p>
    }
}
