@model SmallDad.ViewModels.Comment.CreateCommentViewModel

Leave a comment below...
<div class="form-group">
    <form asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <textarea cols="50" rows="5" asp-for="@Model.Content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
        <input type="hidden" asp-for="@Model.Id" /><br />
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </form>
</div>